.demo-chart {
  height: 400px;
}

.row {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.field-background {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px;
}

.label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75em;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
